<!DOCTYPE html><html><head><meta charset="utf-8">
<title><roundcube:object name="pagetitle" /></title>
<meta name="robots" content="noindex,nofollow" />
<roundcube:include file="/includes/links.html" />
</head><body>
<roundcube:object name="message" id="message" />
<div id="login-form"><div class="boxcontent">
    <roundcube:form name="form" method="post">
        <roundcube:object name="loginform" form="form" submit=true />
    </form>
</div></div>
<noscript><p id="login-noscriptwarning"><roundcube:label name="noscriptwarning" /></p></noscript>
</body></html>